@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
  background-color: #f6f8fa;
  background: linear-gradient(to right, #000, #000); 
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", Inter, system, Roboto, Segoe UI, Arial, sans-serif;
  color: #24292e;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}



h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 2;
margin-bottom: 1rem;
font-weight: 500;
color: #fff;
vertical-align: middle;
text-align: center;
font-size: 25px;
}

p {
line-height: 1.5;
}

a {
-webkit-text-decoration: none;
text-decoration: none;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
display: inline-block;
}

/*
img {
width: 100%;
max-width: 100%;
vertical-align: middle;
} */

input {
  background-color: #26303c;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 30px -8px rgba(0,0,0);
  -webkit-filter: contrast(1.25);
  filter: contrast(1.25);
  -webkit-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  letter-spacing: 0.5px;
  -webkit-filter: none;
  filter: none;
  text-align: center;
  font-family: inherit;
  font-weight: 800;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 600px;

}

input::placeholder {
  color: #bbb;
  font-weight: 500;
}

input:hover {
  color: rgba(0,0,0);
  font-size: 15px;
  text-transform: lowercase;
}


 i { 
    position: absolute; 
}

.icon { 
    padding: 8px; 
    color: rgb(0,0,0);
    min-width: 10px;
    font-size: 25px; 
    text-align: center; 
} 

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card {
  background-color: #000;
  background-image: linear-gradient(315deg, #000000 0%, #000000 100%);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(169,169,169),
      0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  max-width: 850px;
}

.avatar {
  border: 10px solid rgb(0, 0, 255);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.github{
  border: 8px solid #26303c;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.repo {
  background-color: rgb(169,169,169);
  color: white;
  text-align: center;
  font-size: 25;
  display: grid;  
  grid-gap: 8px;  
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);  
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
